.main{
    display: flex;
    gap: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icon{
    width: 20px;
    height: 20px;
   
}
.text{
    margin: 0px;
}
.item{
    padding: 8px;
    border-radius: 100%;
    align-items: center;
    text-align: center;
    height: 20px;
    margin-top: 6px;

}
.item:hover{
    cursor: pointer;
    background-color: rgb(198, 198, 198);
}